:root{
  --bg-color: #f9f4ef;
  --text-color: #000;
  --button-color: #1e3a8a;
  --font-family: "Roboto", serif;;
  --footer-bg-color: #ddd;
  --footer-text-color: #0044cc;
}
h1{
  font-size: 35px;
  font-weight: 400;
}
h2{
  font-size: 20px;
  font-weight: 400;
}
p{
  font-size: 15px;
}
*{
  font-family: var(--font-family);
  font-weight: 300;
  font-style: normal;
  margin:auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



@media (min-width: 600px) and (max-width: 1024px) {
  :root {
    --m-width: 768px;
    --width: 720px;
  }
}

@media (min-width: 1024px) and (max-width: 1400px) {
  :root {
    --m-width: 1200px;
    --width: 1000px;
  }
}

@media (min-width: 1400px) {
  :root {
    --m-width: 1400px;
    --width: 1200px;
  }
}
    .container {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: var(--m-width);
        margin: auto;

    }
    .banner{
      display: flex;
      justify-content: center;
      width: 100%;
      background-color: var(--bg-color);
    }
    
    .box {
        width: 100%;
        display: flex;
        max-width: var(--width);

    }
    nav{
        padding-top: 25px;
        padding-bottom:25px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .menu{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    
    .banner_1 {
      margin: auto;
        width: var(--width);
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 40px;
        background-color: var(--bg-color);
      }
      
      .text-content {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        text-align: left;
      }
      
      .text-content h1 {
        line-height: 1.2;
        color: var(--text-color);
      }
      
      .text-content p {
        color: var(--accent-color);
      }
      
      .image-content {
        position: relative;
        display: flex;
        justify-content: center;
        max-width: 485px;
        gap:20px;
        width: 100%;
      }
      
      .image-slice {
        background-size: cover;
        background-position: center;
        height: 433px;
      }
      
      .image-slice.left {
        width: 100%;
        background-image: url('image.png');
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .image-slice.right {
        width: 100%;
        background-size: cover;
        background-image: url('image.png');
        background-position: right;
      }

      

      
      .catalog-link {
        width: 250px;
        padding: 10px 20px;
        background-color: var(--button-color);
        border-radius: 5px;
        
      }
      
      .catalog-link a {
        text-align: center;
        color: #fff;
        font-size: 20px;
        text-align: center;
      }
      
      .info-badge {
        position: absolute;
        font-size:10px;
        width:300px;
        right: -40px;
        top: -30px;
        font-weight: 700;
        color: #0044cc;
      }

      .banner_2{
        margin-top: 100px;
        margin-bottom: 100px;
        max-width: var(--m-width);
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        gap:20px;

        & .text-content{
          display: flex;
          flex-direction: column;
          gap: 10px;
          min-width:300px ;
          padding: 50px;
          background-color: var(--bg-color);
        }
        & .cards{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items:center ;
          gap:20px;
          & .card{
            display:flex;
            flex-direction: row;
            gap: 10px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            & img{
              width: 282px;
              height: auto;

            }
            & .card__description{
              width: 250px;
              display: flex;
              flex-direction: column;
              gap: 10px;
            }
          }
        }
      & .banner_2__button{
        background-color: var(--button-color);
        border-radius: 5px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }
      }

      .card_link {
        color: #fff;
        background-color: var(--button-color);
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s;
      }
      
      .card_link:hover {
        background-color: #8992a3;
      }
      
      .banner_3 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;
        background-color: var(--bg-color);
        & h1{
          max-width: 500px;
          text-align: center;
        }
        & .content{
          max-width: 1000px;
          min-width: 300px;
        }
      }
      footer{
        background-color: var(--footer-bg-color);
        padding: 10px;
      }
      .footer__box {
        display: flex;
        justify-content: space-between;
        text-align: center;
        max-width: var(--m-width);
        margin: auto;
      }
      
      .footer__box p {
        margin: 0;
      }
      
      .footer__box a {
        color: var(--footer-text-color);
        text-decoration: none;
        font-weight: bold;
      }
      form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
        & input {
          width: 100%;
          padding: 10px;
          margin-bottom: 15px;
          border: 2px solid #ccc;
          border-radius: 5px;
          font-size: 1rem;
          transition: border-color 0.3s, box-shadow 0.3s;
        }
        
        & input:hover {
          border-color: #1e3a8a; /* Меняем цвет рамки при наведении */
        }
        
        & input:focus {
          border-color: #0044cc; /* Меняем цвет рамки при фокусе */
          box-shadow: 0 0 10px rgba(0, 68, 204, 0.5); /* Добавляем эффект свечения */
          outline: none; /* Убираем стандартную обводку */
        }
        

        & button{
          background-color: var(--button-color);
          border-radius: 5px;
          width: 100%;
          padding: 10px 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
        }
      }

      @media (max-width: 600px) {
        .banner_1{
          padding: 10px;
        }
        .image-content{
          gap: 10px;
        }
        .image-slice{

          height: 400px;
        }

      }
      
      
      @media  (max-width: 1024px) {
      .banner_1{
        grid-template-columns: 1fr;
      }
      .banner_2{
        grid-template-columns: repeat(1,1fr);
      }
      h1{
        font-size: 25px;
        font-weight: 400;
      }
      h2{
        font-size: 20px;
        font-weight: 400;
      }
      p{
        font-size: 15px;
      }
      }
      @media (min-width: 1025px) {
      
      
      }