:root{
  --bg-color: #f9f4ef;
  --text-color: #000;
  --button-color: #1e3a8a;
  --font-family: "Roboto", serif;;
  --footer-bg-color: #ddd;
  --footer-text-color: #0044cc;
}
h1{
  font-size: 35px;
  font-weight: 400;
}
h2{
  font-size: 20px;
  font-weight: 400;
}
p{
  font-size: 15px;
}
*{
  font-family: var(--font-family);
  font-weight: 300;
  font-style: normal;
  margin:auto;
  box-sizing: border-box;
}

    @media (max-width: 600px) {
      :root{
        --m-width: 385px;
        --width:345px;
       
    }
    }
    @media (min-width: 1400px) {
      :root{
        --m-width: 1400px;
        --width:1200px;
    }
    }

    .container {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: var(--m-width);
        margin: auto;

    }
    .banner{
      display: flex;
      justify-content: center;
      width: 100%;
      background-color: var(--bg-color);
    }
    
    .box {
        width: 100%;
        display: flex;
        max-width: var(--width);

    }
    nav{
        padding-top: 25px;
        padding-bottom:25px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .menu{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    
    .banner_1 {
      margin: auto;
        width: var(--width);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 100px;
        background-color: var(--bg-color);
      }
      
      .text-content {
        max-width: 40%;
        min-width: 417px;
      }
      
      .text-content h1 {
        font-size: 2.5rem;
        line-height: 1.2;
        color: var(--text-color);
        margin-bottom: 1rem;
      }
      
      .text-content p {
        font-size: 1rem;
        color: var(--accent-color);
      }
      
      .image-content {
        position: relative;
        display: flex;
        justify-content: center;
        width: 485px;
        gap:20px
      }
      
      .image-slice {
        background-size: cover;
        background-position: center;
        max-width: 485px;
        height: 444px;
      }
      
      .image-slice.left {
        width: 232.6px;
        background-image: url('image.png');
        background-position: left;
      }
      
      .image-slice.right {
        width: 232.6px;
        background-image: url('image.png');
        background-position: right;
      }
      
      .catalog-link {
        position:absolute;
        width: 100%;
        padding: 10px 20px;
        bottom: -13%;
        right: 0px;
        background-color: var(--button-color);
        border-radius: 5px;
        
      }
      
      .catalog-link a {
        text-align: center;
        color: #fff;
        font-size: 20px;
        text-align: center;
      }
      
      .info-badge {
        position: absolute;
        top: 1%;
        right: 15px;
        background-color: var(--bg-color);
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
        color: var(--accent-color);
        border-left: 3px solid var(--accent-color);
      }

      .banner_2{
        margin-top: 100px;
        margin-bottom: 100px;
        max-width: var(--m-width);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        & .text-content{
          width: 50%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          min-width:400px ;
          padding: 50px;
          background-color: var(--bg-color);
        }
        & .cards{
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          gap:20px;
          & .card{
            display:flex;
            flex-direction: row;
            gap: 10px;
            flex-wrap: wrap;
            align-items: center;
            & img{
              width: 282px;
              height: auto;

            }
            & .card__description{
              width: 250px;
              display: flex;
              flex-direction: column;
              gap: 10px;
            }
          }
        }
      & .banner_2__button{
        background-color: var(--button-color);
        border-radius: 5px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }
      }

      .card_link {
        color: #fff;
        background-color: var(--button-color);
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s;
      }
      
      .card_link:hover {
        background-color: #8992a3;
      }
      
      .banner_3 {
       display: flex;
        padding: 0;
        justify-content: space-between;
        align-items: center;
        padding: 100px;
        background-color: var(--bg-color);
        & h1{
          max-width: 637px;
          text-align: center;
        }
      }
      footer{
        background-color: var(--footer-bg-color);
        padding: 10px;
      }
      .footer__box {
        display: flex;
        justify-content: space-between;
        text-align: center;
        max-width: var(--m-width);
        margin: auto;
      }
      
      .footer__box p {
        margin: 0;
      }
      
      .footer__box a {
        color: var(--footer-text-color);
        text-decoration: none;
        font-weight: bold;
      }
      form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
        & .content{
          min-width: 400px;
        }
        & button{
          background-color: var(--button-color);
          border-radius: 5px;
          width: 100%;
          padding: 10px 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
        }
      }