:root {
  --bg-color: #f9f4ef;
  --text-color: #000;
  --button-color: #1e3a8a;
  --font-family: "Roboto", serif;
  --footer-bg-color: #ddd;
  --footer-text-color: #0044cc;
  --m-width: 100%;
  --width: 100%;
  --font-size-base: 16px;
}
.burger-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease;
  z-index: 1000;
}

.burger-menu.active {
  left: 0;
}

.burger-menu ul {
  list-style: none;
  padding: 0;
}

.burger-menu ul li {
  margin: 20px 0;
}

.burger-menu ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.burger-menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.burger-icon {
  cursor: pointer;
}
h1 {
  font-size: 3rem; /* 48px */
  font-weight: 600;
  animation: fadeIn 1s ease-in-out;
}

h2 {
  font-size: 2.25rem; /* 36px */
  font-weight: 300;
  animation: fadeIn 1.5s ease-in-out;
}

p {
  font-size: 1rem; /* 16px */
  animation: fadeIn 2s ease-in-out;
}

* {
  font-family: var(--font-family);
  font-weight: 300;
  font-style: normal;
  margin: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 600px) and (max-width: 1024px) {
  :root {
    --m-width: 768px;
    --width: 720px;
    --font-size-base: 14px;
  }

  h1 {
    font-size: 2.5rem; /* 40px */
  }

  h2 {
    font-size: 2rem; /* 32px */
  }

  p {
    font-size: 0.875rem; /* 14px */
  }
}

@media (min-width: 1024px) and (max-width: 1400px) {
  :root {
    --m-width: 1200px;
    --width: 1000px;
    --font-size-base: 15px;
  }

  h1 {
    font-size: 2.75rem; /* 44px */
  }

  h2 {
    font-size: 2.125rem; /* 34px */
  }

  p {
    font-size: 0.9375rem; /* 15px */
  }
}

@media (min-width: 1400px) {
  :root {
    --m-width: 1400px;
    --width: 1200px;
    --font-size-base: 16px;
  }

  h1 {
    font-size: 3rem; /* 48px */
  }

  h2 {
    font-size: 2.25rem; /* 36px */
  }

  p {
    font-size: 1rem; /* 16px */
  }
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--bg-color);
}

.box {
  width: 100%;
  display: flex;
  max-width: var(--width);
}

nav {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;
  gap: 10px;
}

.banner_1 {
  margin: auto;
  width: var(--width);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 40px;
  background-color: var(--bg-color);
  animation: slideIn 1s ease-in-out;
}

.text-content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.text-content h1 {
  line-height: 1.2;
  color: var(--text-color);
}

.text-content p {
  color: var(--accent-color);
}

.image-content {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 485px;
  gap: 20px;
  width: 100%;
}

.image-slice {
  background-size: cover;
  background-position: center;
  height: 433px;
  animation: fadeIn 2s ease-in-out;
}

.image-slice.left {
  width: 100%;
  background-image: url('../source/image.png');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-slice.right {
  width: 100%;
  background-size: cover;
  background-image: url('../source/image.png');
  background-position: right;
}

.catalog-link {
  width: 250px;
  padding: 10px 20px;
  background-color: var(--button-color);
  border-radius: 5px;
  animation: fadeIn 2.5s ease-in-out;
}

.catalog-link a {
  text-align: center;
  color: #fff;
  font-size: 1.25rem; /* 20px */
  text-align: center;
}

.info-badge {
  position: absolute;
  font-size: 0.625rem; /* 10px */
  width: 300px;
  right: -40px;
  top: -30px;
  font-weight: 700;
  color: #0044cc;
}

.banner_2 {
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: var(--m-width);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 20px;
  animation: slideIn 1.5s ease-in-out;
}

.banner_2 .text-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 300px;
  padding: 50px;
  background-color: var(--bg-color);
}

.banner_2 ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.banner_2 ul li {
  margin-bottom: 10px;
  font-size: 1rem; /* 16px */
  color: var(--text-color);
}

.banner_2 .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.banner_2 .cards .card {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  animation: fadeIn 2s ease-in-out;
}

.banner_2 .cards .card img {
  width: 282px;
  height: auto;
}

.banner_2 .cards .card .card__description {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.banner_2 .banner_2__button {
  background-color: var(--button-color);
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  animation: fadeIn 2.5s ease-in-out;
}

.card_link {
  color: #fff;
  background-color: var(--button-color);
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.card_link:hover {
  background-color: #8992a3;
}

.banner_3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: var(--bg-color);
  animation: slideIn 2s ease-in-out;
}

.banner_3 h1 {
  max-width: 500px;
  text-align: center;
}

.banner_3 .content {
  max-width: 1000px;
  min-width: 300px;
}

footer {
  background-color: var(--footer-bg-color);
  padding: 10px;
  animation: fadeIn 3s ease-in-out;
}

.footer__box {
  display: flex;
  justify-content: space-between;
  text-align: center;
  max-width: var(--m-width);
  margin: auto;
}

.footer__box p {
  margin: 0;
}

.footer__box a {
  color: var(--footer-text-color);
  text-decoration: none;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

form input:hover {
  border-color: #1e3a8a;
}

form input:focus {
  border-color: #0044cc;
  box-shadow: 0 0 10px rgba(0, 68, 204, 0.5);
  outline: none;
}

form button {
  background-color: var(--button-color);
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1rem;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #8992a3;
}

@media (max-width: 600px) {
  .banner_1 {
    padding: 10px;
  }
  .image-content {
    gap: 10px;
  }
  .image-slice {
    height: 300px;
  }
}

@media (max-width: 1024px) {
  .banner_1 {
    padding: 40px;
    grid-template-columns: 1fr;
  }
  .banner_2 {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  h1 {
    font-size: 2.5rem; /* 40px */
    font-weight: 450;
    margin: 0;
  }
  h2 {
    font-size: 1.3rem; /* 32px */
    font-weight: 300;
  }
  p {
    font-size: 0.875rem; /* 14px */
  }
  .image-content {
    justify-content: left;
  }
}

@media (min-width: 1025px) {
  /* ...existing code... */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}